.padrao{
    font-size: 35px ;
    cursor: pointer;
    -webkit-transition: 2s;
    transition: 2s;
}

.padrao:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.angular{
    color: red;
}

.react{
    color: aqua;
}

.html{
    color: orange;
}

.css{
    color: aquamarine;
}

.javascript{
    color: yellow;
}

.divblack{
    width: 100%;
    height: 65px;
    background-color: rgb(59, 59, 59);
}